.todo {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;
  max-width: 404px;
  min-height: 429px;
  padding: 24px;
  color: var(--color-text-primary);
  background-color: var(--color-surface);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.titleWrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;

}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}

.todoThemeButton {
  position: absolute;
  right: 0;
}

.addButton {
    &:disabled {
    color: var(--color-text-muted);
  }
}

.form {
  display: flex;
  column-gap: 16px;
}

.field {
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  font-weight: 600;
}

.deleteAllButton {
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--color-text-primary);

  &:hover {
    color: var(--color-text-muted);
  }
}

.list,
.emptyMessage {
  &:empty {
    display: none;
  }
}

.list {
  --todoListRowGap: 8px;

  display: grid;
  row-gap: var(--todoListRowGap);
}

.emptyMessage {
  text-align: center;
  color: var(--color-text-muted);
}
